<div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link  active" (click)="menuClick('Orders')">Orders</a>
            <a class="nav-item nav-link" (click)="menuClick('Reps')">Reps</a>
            <a class="nav-item nav-link" (click)="menuClick('Customers')">Customers</a>
            <a class="nav-item nav-link" (click)="menuClick('Skus')">Skus</a>
            <a class="nav-item nav-link" (click)="menuClick('Users')">Users</a>
          </div>
        </div>
      </nav>
  <h2> Skus</h2>
  <button class="btn btn-primary btn-size btn-margin-below" (click)="addSku()"> Add Sku</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>SKU</th>
      <th>Name</th>
      <th>Description</th>
      <th>Regular Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sku of skus">
      <td class="hidden">{{sku.id}}</td>
      <td>{{sku.skuNumber}}</td>
      <td>{{sku.name}}</td>
      <td>{{sku.description}}</td>
      <td><button type="button" (click)="showSkuDiscounts(sku)">Discounts</button></td>
      <td>{{sku.regularPrice}}</td>
      <td>
          <button class="btn btn-primary btn-size" (click)="deleteSku(sku)"> Delete</button>
          <button class="btn btn-primary btn-size btn-cancel" (click)="editSku(sku)"> Edit</button></td>
    </tr>
    </tbody>
  </table>
        <!-- <i class="icon-trash"></i> -->

  <app-modal modalId="deleteConfirmation" blocking="true" closebtn="true" (close)="endFcn('close')" (blur)="endFcn('blur')">
    <p>Are you sure you want to delete this SKU  and all associated discounts?</p>
  </app-modal>        
</div>

