<div class="col-md-6">
  <h2 class="text-center">Add Customer</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="clientNumber">Client Number:</label>
      <input type="text" minlength="1" maxlength="16" formControlName="clientNumber" placeholder="Client number" name="clientNumber" class="form-control" id="clientNumber">
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" maxlength="150" formControlName="location" placeholder="Location" name="location" class="form-control width-256" id="location">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" maxlength="255"formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" maxlength="16" formControlName="phoneNumber" placeholder="Phone number" name="phoneNumber" class="form-control width-180" id="phoneNumber">
    </div>

    <div class="form-group">
      <label for="contactName">Contact Name:</label>
      <input type="type" minlength="1" maxlength="100" formControlName="contactName" placeholder="Contact name" name="contactName" class="form-control width-256" id="contactName">
    </div>

    <button class="btn btn-primary btn-size">Add</button>
    <button type="button" class="btn btn-secondary btn-size btn-cancel" (click)="onCancel()">Cancel</button>
  </form>
</div>
