<div class="col-md-6">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link  active" (click)="menuClick('Orders')">Orders</a>
            <a class="nav-item nav-link" (click)="menuClick('Reps')">Reps</a>
            <a class="nav-item nav-link" (click)="menuClick('Customers')">Customers</a>
            <a class="nav-item nav-link" (click)="menuClick('Skus')">Skus</a>
            <a class="nav-item nav-link" (click)="menuClick('Users')">Users</a>
          </div>
        </div>
      </nav>
  <h2> Users</h2>
  <button class="btn btn-primary btn-size btn-margin-below" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-primary btn-size" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-primary btn-size btn-cancel" (click)="editUser(user)"> Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
